*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    
    
}
.header{
    background-image: url("c:/Users/PUJARI GANESH NAIK/Downloads/1st-section.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px;
    
}
.header h1{
    color: #fff;
    font-size: 150px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header h2{
    color: #fff;
    font-size: 50PX;

} 
.header h2::before{
content:"Bootstrap" ;
color:orange;
}
.header button{
    width: 200px;
    height: 40px;
    border: 0px solid#fff;
    background-color: orange;
    border-radius: 5px;
    color: #fff;
}
.About{
width: 100%;
height:700px;
display: flex;
flex-direction: row;
justify-content: space-between;
background-image:url("c:/Users/PUJARI GANESH NAIK/Downloads/2nd-section.jpg");
background-size: cover;
background-repeat: no-repeat;
color: #fff;

}
.About .Aboutm{
    width: 45%;
    margin-left: 100px;
display: flex;
flex-direction: column;
justify-content: center;
}


.About .Aboutm .line-dec{
    margin:20px 0px 20px 0px;
    width: 45px;
    height: 3px;
    background-color: coral;}
.Aboutm button{
    width: 200px;
    height: 40px;
    background-color:coral ;
    border: 0px solid#fff;
    border-radius: 5px;
    color: #fff;
}

.card-container{
    width:55%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   margin-right: 120px;
    align-items: center;
}
.card{
    width:350px;
    height:200px;
    background-color: rgb(0,0,0,0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   font-size: 20px;
}
 .card .line-dec{
    margin:20px 0px 20px 0px;
    width: 45px;
    height: 3px;
    background-color: coral;
    margin-top: 30px;
   margin-left:160px;
    
}
.card h4{
   margin-top: 20px;
}
.slider{
    width: 100%;
    height:700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    background-image:url("images/3rd-section.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff; 
}

.ganu-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    width: 100%;
    height:700px;
    background-image:url("images/4th-section.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff; 
    align-items: center;
    text-align: center;
    box-sizing: border-box;   
}    
.ganu-card  p{
  
    width: 870px;
    height: 100px;
background-color:grey;
text-align: center;
}




.back-post{
    width: 100%;
    height:500px;
    background-image:url("images/5th-section.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff; 
    margin-top: -250px;
}

.contact-form {
    max-width: 400px;
    margin: 250px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
margin-left: 200px;
    text-align: center;
    
}

.contact-form form {
    display: flex;
    flex-direction: column;
    
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #999;
}

.contact-form button {
    padding: 10px;
    background: #ff6b3a;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-form button:hover {
    background: #e65a28;
}

.image-container {
    width:400px;
    height:350px;
    overflow: hidden;
    border: px solid black;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    box-shadow: 20px rgba(0, 0, 0, 0.3);
   margin-left: 800px;
   margin-top:-620px;
  }
  

  .footer {
    text-align: center;
    background-color: #333;
    padding: 20px 0;
  }
  
  .back-to-top {
    background-color: #f57c00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .back-to-top:hover {
    background-color: #d96400;
  }
  
  .social-icons {
    margin: 20px 0;
  }
  
  .social-icons .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    background-color: #f57c00;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .social-icons .icon:hover {
    background-color: #d96400;
  }
  
  .footer-text {
    font-size: 14px;
    color: #ccc;
  }
  
  .footer-text a {
    color: #f57c00;
    text-decoration: none;
  }
  
  .footer-text a:hover {
    text-decoration: underline;
  }
